{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
{% for message in app.flashes('notice') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Commande Ref #{{ order.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <td>Statut : {{ status[order.status] }}</td>
            </tr>
            {% for article in order.orderlists %}
                    <tr> 
                        <td>Ref article : #{{ article.article.id}}</td>
                        <td>Nom : {{ article.article.name}}</td>
                        <td>Quantité en stock : {{ article.article.stock}}</td>
                        <td>Quantité commandée : {{ article.quantity}}</td>
                        <td>OK <input type="checkbox"></td>
                    </tr>
                {% endfor %}
            <tr>
                <td>Commande passée le : {{ order.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            {% if order.status != 0 %}
            <tr>
                <td>Commande {{ status[order.status] }} le : {{ order.updatedAt ? order.updatedAt|date('Y-m-d H:i:s') : '' }}</td> {# TODO enlever la ternaire en prod, elle est là pour éviter l'erreur d'updatedAt = null alors que le statut est sup à 0 #}
            </tr>
            {% endif %}
        </tbody>
    </table>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

{% endblock %}
