{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
{% for message in app.flashes('notice') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Commande Ref #{{ order.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <td>Statut : {{ status[order.status] }}</td>
            </tr>
            {% for orderedArticle in order.orderlists %}
                    <tr> 
                        <td>Ref article : #{{ orderedArticle.article.id}}</td>
                        <td>Nom : {{ orderedArticle.article.name}}</td>
                        <td{{ orderedArticle.article.stock < orderedArticle.quantity ? ' class="text-danger" ' : ' class="text-success" ' }}>Quantité en stock : {{ orderedArticle.article.stock}}</td>
                        <td>Quantité commandée : {{ orderedArticle.quantity}}</td>
                        <td>OK <input type="checkbox"></td>
                    </tr>
                {% endfor %}
            <tr>
                <td>Commande passée par : {{ order.user.lastname }} {{ order.user.firstname }} </td>
                <td> Adresse : {{ order.user.adress }} </td>
                <td> Téléphone : {{ order.user.phone }} </td>
                <td> Email : {{ order.user.email }}</td>
            </tr>
            <tr>
                <td>Commande passée le : {{ order.createdAt|format_datetime('full', 'short', locale='fr') }}</td>
            </tr>
            {% if order.status != 0 %}
            <tr>
                <td>Commande {{ status[order.status] }} le : {{ order.updatedAt ? order.updatedAt|format_datetime('full', 'short', locale='fr') : '' }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
