{% extends 'base.html.twig' %}

{% block title %}DeliveriesFees index{% endblock %}

{% block body %}

{% for message in app.flashes('notice') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    
    <h1>DeliveriesFees index</h1>
<a href="{{ path('app_back_deliveries_fees_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deliveries_fee in deliveries_fees %}
            <tr>
                <td>{{ deliveries_fee.id }}</td>
                <td>{{ deliveries_fee.name }}</td>
                <td>{{ deliveries_fee.price }}</td>
                <td>{{ deliveries_fee.createdAt ? deliveries_fee.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ deliveries_fee.updatedAt ? deliveries_fee.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_back_deliveries_fees_show', {'id': deliveries_fee.id}) }}">show</a>
                    <a href="{{ path('app_back_deliveries_fees_edit', {'id': deliveries_fee.id}) }}">edit</a>
                    {{ include('back/deliveries_fees/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
