{% extends 'base.html.twig' %}

{% block title %}DeliveriesFees{% endblock %}

{% block body %}
    <h1>DeliveriesFees</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ deliveries_fee.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ deliveries_fee.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ deliveries_fee.price }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ deliveries_fee.createdAt ? deliveries_fee.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ deliveries_fee.updatedAt ? deliveries_fee.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_deliveries_fees_index') }}">back to list</a>

    <a href="{{ path('app_back_deliveries_fees_edit', {'id': deliveries_fee.id}) }}">edit</a>

    {{ include('back/deliveries_fees/_delete_form.html.twig') }}
{% endblock %}
