<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">
        <a href="{{ path('app_back_home')}}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
            <span class="header-logo__title">Built your home</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            {% if app.user != null %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('app_logout')}}">Logout</a>
                </li>
            {% endif %}
            {% if app.user == null %}
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('app_login')}}">Login</a>
                </li>
            {% endif %}
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_article_index')}}"> Article</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_brand_index')}}"> Brand</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_discount_index')}}"> Discount</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_order_index')}}"> Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_category_index')}}"> Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_vat_index')}}"> Vat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_deliveries_fees_index')}}"> DeliveryFees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_user_index')}}"> User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_order_article')}}"> Article Order</a>
                </li>
                
            </ul>
        </div>

     </div>
</nav>