<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">
        <a href="{{ path('app_back_home')}}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo ">
            <span class="header-logo__title">Build your home</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            {% if app.user != null %}
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('app_logout')}}">Déconnexion</a>
                </li>
            {% endif %}
            {% if app.user == null %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login')}}">Connexion</a>
                </li>
            {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_article_index')}}"> Article</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_brand_index')}}"> Marque</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_discount_index')}}"> Réduction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_order_index')}}"> Commande</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_category_index')}}"> Catégories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_vat_index')}}"> TVA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_deliveries_fees_index')}}"> Frais de livraison</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_user_index')}}"> Utilisateur</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_order_article')}}"> Mise en avant des articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_display_order_category')}}"> Mise en avant des catégories</a>
                </li>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">Gestion des commandes</a>
                        <ul class="dropdown-menu bg-dark">
                            <li>
                                <a class="nav-link" href="{{ path('app_back_order_management',{"status":0})}}"> En attentes 
                                    ({{nbOfPendingOrders ? nbOfPendingOrders : 0}})
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{{ path('app_back_order_management',{"status":1})}}"> Validées 
                                    ({{nbOfValidateOrders ? nbOfValidateOrders : 0}})
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{{ path('app_back_order_management',{"status":2})}}"> En attentes de stock 
                                    ({{nbOfPendingStockOrders ? nbOfPendingStockOrders : 0}})
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{{ path('app_back_order_management',{"status":3})}}"> Expédiées 
                                    ({{nbOfOrdersShipped ? nbOfOrdersShipped : 0}}) 
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{{ path('app_back_order_management',{"status":4})}}"> Archivées
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <li class="nav-item">
                    <a class="nav-link position-relative" href="{{ path('app_back_management_itemsToOrder')}}">
                        Articles à commander
                            <span class="position-absolute top-1 start-100 translate-middle badge rounded-pill bg-danger">
                                {{nbOfArticlesToOrder ? nbOfArticlesToOrder : 0}}
                            </span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>

     </div>
</nav>