{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block link %}<link rel="stylesheet" href="{{ asset('assets/styles.scss') }}">{% endblock %}

{% block nav %}{% endblock %}

{% block body %}

<div class="login">
    <section class="login--section">
        <div class="login--container">
            <h1 class="login--title">Réinitialiser votre mot de passe</h1>
            <div class="login--form">
                {{ form_start(resetForm) }}
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(resetForm) }}
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(resetForm.plainPassword) }}
                        </div>
                    </div>
                     <button class="login--button__submit">Reset password</button>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </section>
</div>
{% endblock %}
