{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}


{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Liste des articles</h1>
<a href="{{ path('app_back_article_new') }}" class="btn btn-success">Créer</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Photo</th>
                <th>Nom d'url</th>
                <th>TVA</th>
                <th>Marque</th>
                <th>Catégorie</th>
                <th>Réduction</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Notation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.name }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.price }}</td>
                <td>{{ article.stock }}</td>
                <td>{{ article.picture }}</td>
                <td>{{ article.slug }}</td>
                <td>{{ article.VAT.name }}</td>
                <td>{{ article.brand.name }}</td>
                <td>{{ article.category.name }}</td>
                <td>{{ article.discount.name }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.rating }}</td>
                <td>
                    <a href="{{ path('app_back_article_show', {'id': article.id}) }}" class="btn btn-info">Afficher</a>
                    <a href="{{ path('app_back_article_edit', {'id': article.id}) }}" class="btn btn-warning">Modifier</a>
                    {{ include('back/article/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
