{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}


{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Article index</h1>
<a href="{{ path('app_back_article_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Picture</th>
                <th>Slug</th>
                <th>Vat</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Discount</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Rating</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.name }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.price }}</td>
                <td>{{ article.stock }}</td>
                <td>{{ article.picture }}</td>
                <td>{{ article.slug }}</td>
                <td>{{ article.VAT.name }}</td>
                <td>{{ article.brand.name }}</td>
                <td>{{ article.category.name }}</td>
                <td>{{ article.discount.name }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.rating }}</td>
                <td>
                    <a href="{{ path('app_back_article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_back_article_edit', {'id': article.id}) }}">edit</a>
                    {{ include('back/article/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
