{% extends 'base.html.twig' %}

{% block title %}VAT{% endblock %}

{% block body %}
    <h1>VAT</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vat.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ vat.name }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ vat.rate }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ vat.createdAt ? vat.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ vat.updatedAt ? vat.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_vat_index') }}">back to list</a>

    <a href="{{ path('app_back_vat_edit', {'id': vat.id}) }}">edit</a>

    {{ include('back/vat/_delete_form.html.twig') }}
{% endblock %}
