{% extends 'base.html.twig' %}

{% block title %}Discount index{% endblock %}

{% block body %}

{% for message in app.flashes('notice') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Discount index</h1>



    <a href="{{ path('app_back_discount_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Rate</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for discount in discounts %}
            <tr>
                <td>{{ discount.id }}</td>
                <td>{{ discount.name }}</td>
                <td>{{ discount.rate }}</td>
                <td>{{ discount.createdAt ? discount.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ discount.updatedAt ? discount.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_back_discount_show', {'id': discount.id}) }}">show</a>
                    <a href="{{ path('app_back_discount_edit', {'id': discount.id}) }}">edit</a>
                    {{ include('back/discount/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
