{% extends 'base.html.twig' %}

{% block title %}Modifier l'ordre d'affichage des articles{% endblock %}

{% block body %}

<h1>Ordre de mise en avant des articles</h1>
{% for message in app.flashes('doublon') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="mx-2 my-2">
        <form name="article_displayOrder" method="post" class="ml-5">
            <div id="article_displayOrder" novalidate="novalidate" class="form-group col-md-2">
                <div>
        {% for i in 1..10 %}
        
            <label>Affichage n°{{i}}</label>
            <select type="select" name="{{i}}" required="required" class="form-select form-select-sm mt-2 mb-2 ">
            {% if  articleOrderbyDisplay[i].name is defined %}
            <option value="{{ articleOrderbyDisplay[i].name }}">{{ articleOrderbyDisplay[i].name }}</option>
            {% endif %}
            
            {% for article in articles %}
                <option value="{{article.name}}">{{article.name}}</option>
            {% endfor %}
            
            </select>
        {% endfor %}
                </div>
             </div>
            <button class="btn">Valider</button>
        </form>
    </div>
        {% endblock %}